/* color palette from <https://github.com/vuejs/theme> */
:root {
  --mp-white: #ffffff;
  --mp-white-soft: #f8f8f8;
  --mp-white-mute: #f2f2f2;

  --mp-black: #181818;
  --mp-black-soft: #222222;
  --mp-black-mute: #282828;

  --mp-indigo: #2c3e50;
  --mp-pink: #ff80b4;
  --mp-orange:#FA643F;
  --mp-green: #2ecc71;
  --mp-blue: #3498db;
  --mp-red: #e74c3c;
  --mp-yellow: #f1c40f;
  --mp-purple: #9b59b6;
  --mp-cyan: #1abc9c;
  --mp-pink-light:#FFB3D2;
  --mp-green-light: #c1ff72;

  --mp-divider-light-1: rgba(60, 60, 60, 0.29);
  --mp-divider-light-2: rgba(60, 60, 60, 0.12);
  --mp-divider-dark-1: rgba(84, 84, 84, 0.65);
  --mp-divider-dark-2: rgba(84, 84, 84, 0.48);

  --mp-text-light-1: var(--mp-indigo);
  --mp-text-light-2: rgba(60, 60, 60, 0.66);
  --mp-text-dark-1: var(--mp-white);
  --mp-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--mp-white);
  --color-background-soft: var(--mp-white-soft);
  --color-background-mute: var(--mp-white-mute);

  --color-border: var(--mp-divider-light-2);
  --color-border-hover: var(--mp-divider-light-1);

  --color-heading: var(--mp-text-light-1);
  --color-text: var(--mp-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--mp-black);
    --color-background-soft: var(--mp-black-soft);
    --color-background-mute: var(--mp-black-mute);

    --color-border: var(--mp-divider-dark-2);
    --color-border-hover: var(--mp-divider-dark-1);

    --color-heading: var(--mp-text-dark-1);
    --color-text: var(--mp-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  margin: 1.5em 0 1em;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin: 1.5em 0;
  font-size: 1.125em;
  line-height: 1.6;
  padding: 0 1.5em;
}
