@import './base.css';

h1, h2 {
    display: flex;
    justify-content: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
.icon {
  width: 15px;
  height: 15px;
  fill: var(--color-text);
  margin: 0 2px;
  padding: 0;
  &.no-darkscheme {
    fill: var(--mp-black);
  }
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}
